<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <a class="navbar-brand" href="#">MyFlaskApp</a>
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse-navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/about">About</a></li>
        <li><a class="nav-link left" href="/articles">Articles</a></li>
       
      </ul>
      <ul class="nav navbar-nav right">
          <li><a class="nav-link right" href="/register">Register</a></li>  
        </ul>
    </div>
  </div>
  </nav>